/* 404  not found style */

body .fullbody{
     width: 100%;
     height: 100%;
     background-color: #95c2de;
}

.mainbox-404 {
     /* background-color: #95c2de; */
     margin: auto;
     height: 600px;
     width: 600px;
     position: relative;
}
.mainbox-404  .err {
     color: #ffffff;
     font-family: 'Nunito Sans', sans-serif;
     font-size: 11rem;
     position: absolute;
     left: 20%;
     top: 8%;
}

.mainbox-404  .far {
     position: absolute;
     font-size: 8.5rem;
     left: 42%;
     top: 15%;
     color: #ffffff;
}

.mainbox-404  .err2 {
     color: #ffffff;
     font-family: 'Nunito Sans', sans-serif;
     font-size: 11rem;
     position: absolute;
     left: 68%;
     top: 8%;
}

.mainbox-404  .msg {
     text-align: center;
     font-family: 'Nunito Sans', sans-serif;
     font-size: 1.6rem;
     position: absolute;
     left: 16%;
     top: 45%;
     width: 75%;
}

.mainbox-404  a {
     text-decoration: none;
     color: white;
}

.mainbox-404  a:hover {
     text-decoration: underline;
}
