@import '../utilities.css';
@import '../variable.css';

*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}


/* bootstrap overide properteis*/
.modal-body{
     max-height: 20rem;
     overflow-y: scroll;
}
.accordion-button:not(.collapsed) {
          color: #d70ce4;
          background-color: #ffe7ff;
}
.accordion-button:focus {
          border-color: #fe86f4;
          box-shadow: 0 0 0 0.25rem rgb(253 13 190 / 25%);
}
#gridContainer{
          width: 1280px;
          display: grid;
          grid-template-columns: 7fr 12fr 5fr;
          column-gap: 1rem;
}

/* .gridItems{
          background-color: rgb(190, 190, 190);
          overflow: hidden;
} */

.postinput{
          border: 1px solid #9c9c9c;
          border-radius: 9rem;
          padding: .8rem;
          background: none;
          outline: none !important;
}

.postIconSize{
          height: 2.5rem;
          padding: .2rem .5rem;
}

#photoiconColor{
          color: rgb(5, 129, 5);
}
#videoiconColor{
          color: red;
}
#DociconColor{
          color: blue;
}
#eventiconColor{
          color: darkgoldenrod;
}

.profilecoverfeedstyle {
          background-position: center;
          background-size: cover;
          display: block;
          height: 60px;
          margin: -17px -20px 0;
}

.modelAction{
     display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}
.modelAction>* {
     margin: .25rem;
 }

#postcontent{
     outline: none;
     resize: none;
     height: 8rem;
}

.postPrivacyBtn{
     border: 1px solid gray;
     padding: .2rem .3rem;
}
.postPrivacyBtn i{
     font-weight: 200;
}

.postPrivacyBtn select{
     cursor: pointer;
     width: 60%;
     border: none;
     outline: none;
     background: none;
}

.postMediaIcon {
     height: 2.5rem;
     width: 2.5rem;
     display: flex;
     justify-content: center;
     align-items: center;
     border: none;
     background: none;
}

.singpostModelH80VH{
      height: 80vh;
}
.post_moreOption{
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    transition: var(--FtransitionT);
}
.post_moreOption:hover{
    background: #e5e3e3;
    transition: var(--FtransitionT);
}

.postsActiveanimation i{
     FONT-WEIGHT: 200;
}
.postsActive-static{
     color: rgb(243, 9, 243);
}
.postsActive-static i{
     FONT-WEIGHT: 200;
}

.postsActiveanimation{
     color: rgb(243, 9, 243);
}
.postsActiveanimation .thumbs{
     animation: liked .5s linear;
}

@keyframes liked{
     0%,10%{
          transform: rotate(-60deg) scale(1.3);
     }
     10%,30%{
          transform: rotate(60deg) scale(.4);
     }
    30%,60%{
     transform: rotate(-40deg) scale(1.2);
    }
    60%,80%{
     transform: rotate(40deg) scale(.5);
    }
    80%,100%{
     transform: rotate(0deg) scale(1);
    }
}
/* 
@keyframes liked{
     0%,10%{
          transform: rotate(-60deg) ;
     }
     10%,30%{
          transform: rotate(60deg) ;
     }
    30%,60%{
     transform: rotate(-40deg) ;
    }
    60%,80%{
     transform: rotate(40deg) ;
    }
    80%,100%{
     transform: rotate(0deg) ;
    }
} */
/* @keyframes liked{
     0%{
          transform: rotate(-60deg) scale(23.5);
          position: fixed;
          top: 50%;
          left: 50%;
     }
     10%,30%{
          transform: rotate(60deg) scale(23.5);
          position: fixed;
          top: 50%;
          left: 50%;
     }
     30%,50%{
          transform: rotate(-30deg) scale(23.5);
          position: fixed;
          top: 50%;
          left: 50%;
    }
     60%,80%{
          transform: rotate(30deg) scale(23.5);
          position: fixed;
          top: 50%;
          left: 50%;
    }
    80%,100%{
     transform: rotate(0deg) scale(1);
    }
}*/