@import './variable.css';
/* all are small class are hare  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bg);
}

h1, h2, h3 {
    font-family: var(--first-heading);
}

select {
    -webkit-appearance: none;
}

button:disabled {
    cursor: not-allowed !important;
}

button:disabled:hover {
    background: none;
}

/* scroll */
.hideScroll::-webkit-scrollbar, .modal-body::-webkit-scrollbar, .networkManagmentContainer::-webkit-scrollbar {
    width: 0 !important;
    /* hide scroll bar */
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(193 5 193);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
/* rm the number arrow */
input[type=number] {
    -moz-appearance: textfield;
}

p {
    margin: 0;
}

a:not(p) {
    /* not is not working 😁😁 */
    text-decoration: none;
    color: #bb00bb;
}

a:not(p):hover {
    /* not is not working 😁😁 */
    color: #ff01ff !important;
}

.userName {
    /* this is use for give link in user name  😁😁 */
    color: black;
}

.userName:hover {
    color: #bb00bb;
    text-decoration: underline;
}

label {
    font-weight: bold;
    font-size: .88rem;
}

.bg-color {
    background-color: var(--primary-bg);
}

.des-txt-size {
    font-size: 1.1rem;
}

.sm-txt {
    opacity: .76;
    font-size: small;
}

.mainpage {
    height: 97vh;
    /* width: 100vw; */
}

.logo {
    width: 1rem;
}

.w-50rem {
    width: 50rem;
}

.loading-h-8rem {
    height: 8rem;
}

.vh-6 {
    height: 6vh;
}

.vh-94 {
    height: 94vh;
}

.mvh-50 {
    max-height: 50vh;
}

.obj-fit-cover {
    object-fit: cover;
    object-position: top;
}

.footerText {
    /* margin: 0rem 1.5rem; */
    font-size: smaller;
}

.smallfont {
    font-size: smaller;
    margin: 1rem 10px;
}

#copymark {
    font-size: smaller;
    margin: auto;
    margin-left: 3px;
}

.footerlogo-box {
    font-family: var(--first-heading);
    font-weight: 900;
}

.networkManagmentContainer {
    max-height: 40rem;
    overflow-y: scroll !important;
    scroll-behavior: smooth;
}

/* footer .footerlogo{ */
/* filter: brightness(0.5) !important; */
/* width: 20%; */
/* height: 85%; */
/* } */
footer .footerlogo-box {
    text-align: left;
    /* width: 70%; */
}

.footerlogo-box span {
    color: var(--primary-color);
}

footer .footerlogo-box span {
    color: black !important;
}

#singup, #login {
    background-color: white;
    display: inline-block;
}

.form-btn-width100 {
    width: 100%;
}

.form-btn-width70 {
    width: 70%;
}

.form-btn-radius {
    border-radius: 1.6rem;
}

.btn-submit {
    background-color: var(--primary-color);
    color: white;
    /* font-weight: 700; */

}

.sm-btn {
    font-weight: bold;
    font-size: small;
}

/*  diveder for singup and login page  */
.divider {
    position: relative;
}

.divider::before {
    content: '';
    position: absolute;
    top: 14.99px;
    left: 0;
    right: 200px;
    bottom: 8px;
    background: #ada6a696;
}

.divider::after {
    content: '';
    position: absolute;
    top: 14.99px;
    left: 200px;
    right: 0;
    bottom: 8px;
    background: #ada6a696;
}

.a-deco-non {
    text-decoration: none;
}

.a-primary {
    color: var(--primary-color);
}

.authrizeArea {
    width: 55%;
    padding: 1.5rem;
    border-radius: .6rem;
}

.authrizeArea-btn-p {
    padding: .7rem 0px
}

/* font style  */
.firstheadingStyle {
    font-family: var(--first-heading);
}

.secundheadingStyle {
    font-family: var(--secund-heading);
}

.fw-bold {
    font-weight: 500 !important;
}

.first-heading {
    font-family: var(--first-heading);
    font-weight: 400;
}

.first-heading-size {
    font-size: 2.3rem;
}

.secund-heading {
    font-family: var(--secund-heading);
    font-weight: 200;
}

.secund-heading-size {
    font-size: 2rem;
}

.font-s1p3 {
    font-size: 1.3rem;
}

.f-115rm {
    font-size: 1.15rem;
}

.small-text {
    font-family: var(--first-heading);
    /* font-weight: 200; */
    font-size: 13px;
}

.font-p9 {
    font-size: .9rem;
}

/* tree buton hover  */
.normal-btn {
    /* no backgourd*/
    transition: var(--FtransitionT);
}

.full-primary {
    /* purple backgourd*/
    transition: var(--FtransitionT);
    color: white;
    background-color: var(--primary-color);
}

.outline-primary {
    /* no background puple border*/
    transition: var(--FtransitionT);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.normal-btn:hover {
    transition: var(--FtransitionT);
    background-color: var(--normal-hover);
}

.full-primary:hover {
    transition: var(--FtransitionT);
    background-color: var(--full-primary-hover);
    color: white !important;
}

.outline-primary:hover {
    transition: var(--FtransitionT);
    color: var(--primary-color) !important;
    background-color: var(--primary-hover);
}

.primary-input-style {
    height: 3rem;
    border: 2px solid var(--primary-color);
}

.primary-shadow {
    transition: var(--FtransitionT);
}

.primary-shadow:hover {
    transition: var(--FtransitionT);
    box-shadow: 3px 0px 13px 8px #f3ebf3;
    transform: scale(1.025);
}

.secundry-shadow {
    box-shadow: 2px 3px 25px -14px;
}

.f-14px {
    font-size: 14px !important;
}

.symbol {
    background: purple;
    color: white;
    border-radius: 3px;
    font-size: 1.19rem;
    padding: 1px;
    margin-left: 2.5px;
}

.symbofeed {
    padding: .15rem;
    font-size: 1.37rem;
}

footer .symbol {
    background: black;
    color: white;
    padding: 1px;
    margin-left: 1.7px;
    border-radius: 5px;
    font-size: 0.85rem;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}

.minmax-90100 {
    min-width: 90%;
    max-width: 100%;
}

.hight-non {
    height: unset !important;
}

.width-non {
    width: unset !important;
}

.imgViwer {
    height: 15%;
}

.coverImg {
    position: relative;
}

.cover {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: top;
}

.profile {
    position: absolute;
    bottom: 0;
    overflow: hidden;

    left: 0px;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    max-width: 8rem;
    max-height: 8rem;
    min-height: 6rem;
    min-width: 6rem;
    border: 3px solid white;
    background: white;
}

.orglogo {

    position: absolute;
    bottom: 0px;
    overflow: hidden;

    left: 45%;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 7rem;
    border: 3px solid white;
    /* width: 4rem; */
    /* height: 4rem; */
    background: white;
}

.profileImg {
    width: 100%;
    height: 100%;
    /* border: 3px solid white; */
    border-radius: 50rem;
    border-spacing: unset;
    object-fit: cover;
}

.ProfilCamra {
    transition: var(--FtransitionT);
    position: absolute;
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    border-radius: 50rem;
    box-shadow: 0px 0px 16px 6px rgb(27 27 27 / 22%);
    background: rgb(27 27 27 / 22%);
    transition: var(--FtransitionT);
}

.ProfilCamra i {
    cursor: pointer;
}

.ProfilCamra:hover {
    box-shadow: 0px 0px 9px 15px rgb(13 13 13 / 22%);
    background: rgb(27 27 27 / 22%);
    transition: var(--FtransitionT);
    transform: scale(1.2);
}

.coverImgCamra {
    transition: var(--FtransitionT);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    border-radius: 50rem;
    box-shadow: 0px 0px 16px 6px rgb(27 27 27 / 22%);
    background: rgb(27 27 27 / 22%);
}

.coverImgCamra i {
    cursor: pointer;
}

.coverImgCamra:hover {
    box-shadow: 0px 0px 9px 15px rgb(13 13 13 / 22%);
    background: rgb(27 27 27 / 22%);
    transition: var(--FtransitionT);
    transform: scale(1.3);
}

.required::after {
    content: '*';
    color: red;
}

/* .form-checkou-input:focus{
    border-color: #fe86ee;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
} */

.btn:focus {
    box-shadow: 0 0 0 0.25rem rgb(156 39 176 / 25%) !important;
}

.form-check-input:checked {
    background-color: #9c27b0 !important;
    border-color: #9c27b0 !important;
}

.form-control:focus, .form-select:focus, .form-check-input:focus {
    border-color: #9c27b0 !important;
    box-shadow: 0 0 0 0.25rem rgb(156 39 176 / 32%) !important;
}

.form-select:focus {
    outline: 0;
}

.showHide {
    position: absolute;
    top: 16px;
    right: 15px;
    cursor: pointer;
}

#singup .showHide {
    position: absolute;
    top: 44px;
    right: 13px;
    cursor: pointer;
}

/* 1rem border radius   */
.br-1rem {
    border-radius: 1rem;
}

/* body margin  */
.content-body-padding {
    padding-top: 8rem;
    /* background-color: var(--primary-bg); */
}

.editIcon {
    float: right;
    font-size: 1rem;
    padding: .3rem;
    border-radius: 50%;
    transition: var(--FtransitionT);
}

.editIcon:hover {
    transform: scale(1.23);
    background-color: #00000030;
    transition: var(--FtransitionT);
}

.iconT {
    transition: var(--FtransitionT);
}

.iconT:hover {
    transform: scale(1.23);
    transition: var(--FtransitionT);
}

.cursor-pointer {
    cursor: pointer;
}

.pr-3 {
    padding-right: 3rem !important;
}

.allert-top-center-position {
    position: fixed;
    left: 46%;
    z-index: 8888;
}

.z111 {
    z-index: 111;
    /*level 1*/
}

.z333 {
    z-index: 333;
    /*level 2*/
}

.z555 {
    z-index: 555;
    /*level 3*/
}

.z666 {
    z-index: 666;
    /*level 4*/
}

.z999 {
    z-index: 999;
    /*level 5*/
}

.eachSection {
    border-radius: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;

}

/* Network content  */
.card {
    overflow: hidden;

    width: 100%;
}

.CardCover {
    position: relative;
    width: 100%;
    height: 5rem;
    /* overflow: hidden; */

}

.cardAvtar {
    position: absolute;
    bottom: -43px;
    left: 28%;
    border-radius: 50%;
    overflow: hidden;


}

.CardCoverImg {
    width: 100%;
    height: 100%;
}

.cardAvtarImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.cardDismissBtn {
    background: #7575756b;
    border: none;
    position: absolute;
    right: 0;
    height: auto;
    width: 2rem;
    margin: .5rem;
    display: flex;
    justify-content: center;
    /* z-index: 83947; */
}

.cardDismiss {
    color: white;
}

.color-unset, .color-unset:hover {
    color: unset;
}

.card-title {
    font-size: 17px !important;
}

.card-text {
    font-size: 13px !important;
}

.avtar-div {
    border: 3px solid white;
    box-shadow: 0px 0px 5px 5px #00000021;
    transition: var(--FtransitionT);
}


.avtar-div:hover {
    transform: scale(1.1);
    transition: var(--FtransitionT);
}

/* .avtar-img{

} */

/* myconnections css  */
/* select last child of child and remove border  */
#MyCandidateConnectionsRow .MyConnectionsDiv:last-child .border-bottom, #MyemployerConnectionsRow .MyConnectionsDiv:last-child .border-bottom {
    /* background-color: red; */
    border: none !important;
}

.MyConnectionsDiv {
    margin: 1rem 0 .5rem;
}

.ImgCon {
    max-width: 2.75rem;
    min-width: 2.75rem;
    width: 2.75rem;
    /* height: auto; */
    height: 2.75rem;
}

.imgLS {
    /*img Larg size*/
    width: 7rem;
    height: 7rem;
    max-width: 8rem;
    max-height: 8rem;
    min-height: 6rem;
    min-width: 6rem;
}

.imgNormalS {
    /*img normal size*/
    height: 3.75rem;
    width: 3.75rem;

}

.imgSmallS {
    /*img small size*/
    height: 3rem;
    width: 3rem;
}

.imgXstraSmallS {
    /*img Xtra samll size*/
    height: 2.70rem;
    width: 2.70rem;
}

.myconnectionsSomeInfo {
    padding-bottom: .7rem;
    /* border-bottom: red 1px solid; */
}

.object-p-top {
    object-position: top;
}

.Gif_purpul {
    filter: invert(1);
}

.fsXS {
    /*font size xstra small*/
    font-size: 12px !important;
}

.fsXXS {
    /*font size xstra xstra small*/
    font-size: 10px !important;
}

.primaryBGhover {
    transition: var(--FtransitionT);
}

.primaryBGhover:hover {
    background-color: var(--secud-primary-hover);
    transition: var(--FtransitionT);
}

.hovgray, .actvgray {
    transition: var(--FtransitionT);
}

/* hover gray  */
.hovgray:hover {
    background-color: #c3c3c37d;
    transition: var(--FtransitionT);
}

/* active dark gray  */
.actvgray:active {
    background-color: #c3c3c3;
    transition: var(--FtransitionT);
}

.infoicon {
    width: 1.5rem;
    color: rgb(41, 41, 41);
    height: 1.5rem;
    text-align: center;
}

.fontOpacity1 {
    opacity: .76;
}

.flex1 {
    flex: 1;
}

.centerY {
    transform: translate(0px, -50%) !important;
}

.les20px {
    /* margin in minas*/
    margin-top: -20px;
}

.normalFontColor {
    color: var(--normal-font-color) !important;
}

.lineHight1 {
    line-height: 1 !important;
}

/* .feedimgsize{
} */
.w-80 {
    width: 80% !important;
}

.w-20 {
    width: 20% !important;
}

.w-55 {
    width: 55% !important;
}

.btnRedias10 {
    border-radius: 10rem;
}

.postbtn {
    line-height: 1.2;
}

.maxW100 {
    max-width: 100%;
}

.maxH100 {
    max-height: 100% !important;
}

.blackBG {
    background-color: var(--normal-font-color);
}

.fw200 {
    FONT-WEIGHT: 200;
}

.overflowY-scroll {
    overflow-y: scroll;
}

.sticky-center-position {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
}

.outline-none {
    outline: none;
}

.outline-none:focus {
    outline: none;
}